<app-spinner *ngIf="posts.length == 0"></app-spinner>
<ng-container *ngIf="posts.length != 0">
	<app-card-title
		[href]="config.socialLinks.instagram"
		socialIcon="instagram"
	>
		instagram
	</app-card-title>
	<div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 8px">
		<a
			class="post"
			*ngFor="let post of posts"
			[href]="post.link"
			style="display: block"
		>
			<img [src]="post.imageUrl" [alt]="post.alt" style="width: 96px" />
		</a>
	</div>
	<app-card-footer href="https://bibliogram.cutelab.space/">
		Powered by Bibliogram
	</app-card-footer>
</ng-container>
