<app-card-title [href]="config.socialLinks.instagram" socialIcon="instagram">
	instagram
</app-card-title>
<hstack *ngIf="posts.length == 0" style="margin: 32px">
	<app-spinner></app-spinner>
</hstack>
<ng-container *ngIf="posts.length != 0">
	<div
		style="
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;
			margin-top: -8px;
			margin-bottom: 8px;
		"
	>
		<p>
			<b>{{ this.totalPosts }}</b> posts
		</p>
		<p>
			<b>{{ this.followers }}</b> followers
		</p>
		<p>
			<b>{{ this.following }}</b> following
		</p>
	</div>
	<div
		style="
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 6px;
			row-gap: 2px;
		"
	>
		<a
			class="post"
			*ngFor="let post of posts"
			[href]="post.link"
			style="display: block"
		>
			<img
				[src]="post.imageUrl"
				[alt]="post.alt"
				style="width: 100px; height: 100px"
			/>
		</a>
	</div>
</ng-container>
<app-card-footer [href]="bibliogramUrl">
	Powered by Bibliogram
</app-card-footer>
