<app-card-title>work and experience</app-card-title>
<div style="text-align: center">
	Currently working on new things with Unity.
	<br />
	<br />
	I'll update this with more info later.
	<br />
	<br />
	Oh, here's a thing:
	<a href="https://blahaj.quest">https://blahaj.quest</a>
</div>
<!-- <a
	href="https://tivolicloud.com"
	style="text-decoration: none; color: #000; margin-top: -4px; display: block"
>
	<ng-lottie
		width="300px"
		height="80px"
		[options]="{ path: '/assets/tivoli-loading.json' }"
	></ng-lottie>
	<hstack style="opacity: 0.6; margin-top: 8px">
		<p style="line-height: 1.1em; font-weight: 500; text-align: right">
			Founder of Tivoli, creating an
			<br />
			open source VR metaverse
		</p>
		<app-material-icon style="margin-left: 8px; opacity: 0.6">
			open_in_new
		</app-material-icon>
	</hstack>
</a>
<hr style="margin: 16px 0; opacity: 0.2" />
<div class="logos">
	<a href="https://www.typescriptlang.org/">
		<svg logoIcon="ts-logo-512"></svg>
	</a>
	<a href="https://angular.io/">
		<svg logoIcon="angular"></svg>
	</a>
	<a href="https://nestjs.com/">
		<svg logoIcon="nestjs"></svg>
	</a>
	<a href="https://www.docker.com/">
		<svg logoIcon="docker"></svg>
	</a>
	<a
		href="https://github.com/germanoa/compiladores/blob/master/doc/ebook/The%20C%20Programming%20Language%20-%202nd%20Edition%20-%20Ritchie%20Kernighan.pdf"
	>
		<svg logoIcon="cpp"></svg>
	</a>
	<a href="https://www.qt.io/">
		<svg logoIcon="qt"></svg>
	</a>
</div>
<ul class="list">
	<li>Tremendously familiar with web dev</li>
	<li>Happily familiar with server hosting</li>
	<li>Familiar with C++ and Qt</li>
</ul> -->
