<hstack style="font-size: 0.6em" *ngIf="!showOlderYeti">
	<vstack style="width: 100px">
		<span
			class="cursive"
			style="font-size: 2.6em; margin-top: -12px; margin-bottom: 12px"
		>
			homelab
		</span>
		<span style="font-size: 1em">
			<div class="status" [innerHtml]="status"></div>
			<div class="status a" style="background-color: #e91e63">
				<a href="https://stats.uptimerobot.com/GMWojUB9A8">
					See more here
				</a>
			</div>
		</span>
		<img
			class="clickable-image"
			src="/assets/images/blahaj-rack.jpg"
			alt="Server rack"
			style="width: 100px; margin-top: 16px; border-radius: 4px"
			(click)="serverRackPopupBox.open()"
		/>
		<app-popup-box #serverRackPopupBox>
			<img
				src="/assets/images/blahaj-rack.jpg"
				alt="Server rack"
				style="width: 500px"
			/>
		</app-popup-box>
		<img
			class="clickable-image"
			src="/assets/images/blahaj-inside.jpg"
			alt="Blahaj's inside"
			style="width: 100px; margin-top: 8px; border-radius: 4px"
			(click)="blahajInsidePopupBox.open()"
		/>
		<app-popup-box #blahajInsidePopupBox>
			<img
				src="/assets/images/blahaj-inside.jpg"
				alt="Blahaj's inside"
				style="width: 600px"
			/>
		</app-popup-box>
	</vstack>
	<div style="width: 280px; margin-left: 16px; font-size: 1.05em">
		<span style="font-weight: 600">
			Everything on this site is hosted here!
			<br />
			Last updated: <span style="font-weight: 800">May 30, 2022</span>
			<br /><br />
		</span>
		<a href="javascript:" (click)="showOlderYeti = true">
			Click here to see older setup
		</a>
		<br /><br />
		From top to bottom...
		<ul>
			<li>
				Protectli Vault 6 Port, i7 quad core
				<ul>
					<li>
						<i>
							Currently turned off. I've been playing with
							OPNsense every once in a while
						</i>
					</li>
				</ul>
			</li>
			<li>
				Ubiquiti Dream Machine Pro
				<ul>
					<li>Network router and IPS</li>
					<li>NVR for 3 x G4 Pro cameras and a G3 Instant</li>
				</ul>
			</li>
			<li>Ubiquiti Switch 16 PoE</li>
			<li>
				Mac Mini M1, 16 GB
				<ul>
					<li>Personal build server</li>
					<li>
						<ng-container
							*ngFor="let service of macMini; let i = index"
						>
							<a [href]="service[1]">{{ service[0] }}</a
							><ng-container *ngIf="i != macMini.length - 1"
								>,
							</ng-container>
						</ng-container>
					</li>
				</ul>
			</li>
			<li>
				Blåhaj - Ryzen Threadripper 2970WX, 128 GB DDR4 3200MHz, RTX
				3060 Ti and GTX 1060
				<ul>
					<li>
						Social:
						<ng-container
							*ngFor="let service of blahajSocial; let i = index"
						>
							<a [href]="service[1]">{{ service[0] }}</a
							><ng-container *ngIf="i != blahajSocial.length - 1"
								>,
							</ng-container>
						</ng-container>
					</li>
					<li>
						Media:
						<ng-container
							*ngFor="let service of blahajMedia; let i = index"
						>
							<a [href]="service[1]">{{ service[0] }}</a
							><ng-container *ngIf="i != blahajMedia.length - 1"
								>,
							</ng-container>
						</ng-container>
					</li>
					<li>
						Files:
						<ng-container
							*ngFor="let service of blahajFiles; let i = index"
						>
							<a [href]="service[1]">{{ service[0] }}</a
							><ng-container *ngIf="i != blahajFiles.length - 1"
								>,
							</ng-container>
						</ng-container>
					</li>
					<li>
						Home:
						<ng-container
							*ngFor="let service of blahajHome; let i = index"
						>
							<a [href]="service[1]">{{ service[0] }}</a
							><ng-container *ngIf="i != blahajHome.length - 1"
								>,
							</ng-container>
						</ng-container>
					</li>
					<li>
						Dev:
						<ng-container
							*ngFor="let service of blahajDev; let i = index"
						>
							<a [href]="service[1]">{{ service[0] }}</a
							><ng-container *ngIf="i != blahajDev.length - 1"
								>,
							</ng-container>
						</ng-container>
					</li>
					<li>
						Personal:
						<ng-container
							*ngFor="
								let service of blahajPersonal;
								let i = index
							"
						>
							<a [href]="service[1]">{{ service[0] }}</a
							><ng-container
								*ngIf="i != blahajPersonal.length - 1"
								>,
							</ng-container>
						</ng-container>
					</li>
				</ul>
			</li>
			<li>CyberPower OR1500LCDRM1U UPS, 1500VA/900W</li>
		</ul>
	</div>
</hstack>
<app-homelab-older-yeti
	*ngIf="showOlderYeti"
	(onSeeNewerSetup)="showOlderYeti = false"
></app-homelab-older-yeti>
