@import "../../../styles/scale-on-hover.scss";

ul {
	margin-left: -24px;
}

.cursive {
	line-height: 1em;
}

.clickable-image {
	@include scaleOnHover(1.05);
	cursor: pointer;
}

.status {
	background-color: #1d1f21;
	color: #fff;
	font-size: 1.1em;
	padding: 3px 6px;
	opacity: 1;
	font-family: "Roboto Mono", monospace;

	$r: 6px;
	border-radius: $r $r 0 0;
	&.a {
		border-radius: 0 0 $r $r;
	}

	a {
		color: #fff;
		font-weight: 700;
	}
}
