<ng-template #content>
	<ng-content></ng-content>
	<svg
		*ngIf="socialIcon"
		[socialIcon]="socialIcon"
		style="vertical-align: middle; margin-left: 4px; height: 24px"
	></svg>
</ng-template>
<h2
	class="cursive"
	[class.card-title-href]="href"
	style="text-align: center"
	[style.marginTop]="marginTop ? marginTop : '-12px'"
	[style.marginBottom]="marginBottom ? marginBottom : '12px'"
>
	<a *ngIf="href" [href]="href" style="color: #000; text-decoration: none">
		<ng-template [ngTemplateOutlet]="content"></ng-template>
	</a>
	<ng-container *ngIf="!href">
		<ng-template [ngTemplateOutlet]="content"></ng-template>
	</ng-container>
</h2>
