@font-face {
	font-family: "KG Always A Good Time";
	src: url("./KGAlwaysAGoodTime.woff2") format("woff2"),
		url("./KGAlwaysAGoodTime.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
