.card-footer {
	text-align: center;
	opacity: 0.4;
	color: #000;
	text-decoration: none;
	margin-top: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
}
