.letters {
	$intensity: 2px;

	@keyframes dancing-letters-dance {
		0% {
			transform: translateY(-$intensity);
		}
		50% {
			transform: translateY($intensity);
		}
		100% {
			transform: translateY(-$intensity);
		}
	}

	> span {
		display: inline-block;
		animation-name: dancing-letters-dance;
		animation-duration: 1.5s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
	}
}
