<a
	href="https://tivolicloud.com"
	style="text-decoration: none; color: #000; margin-top: -4px; display: block"
>
	<ng-lottie
		width="300px"
		height="80px"
		[options]="{ path: '/assets/tivoli-loading.json' }"
	></ng-lottie>
	<div
		style="
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			opacity: 0.6;
			margin-top: 8px;
		"
	>
		<span class="material-icons" style="margin-right: 8px"
			>open_in_new</span
		>
		<p style="line-height: 1em; font-weight: 500">
			Founder of Tivoli, creating an
			<br />
			open source VR metaverse
		</p>
	</div>
</a>
<hr style="margin: 16px 0; opacity: 0.2" />
<div class="logos">
	<a href="https://www.typescriptlang.org/">
		<img src="/assets/logos/ts-logo-512.svg" alt="TypeScript" />
	</a>
	<a href="https://angular.io/">
		<img src="/assets/logos/angular.svg" alt="Angular" />
	</a>
	<a href="https://nestjs.com/">
		<img src="/assets/logos/nestjs.svg" alt="NestJS" />
	</a>
	<a href="https://www.docker.com/">
		<img src="/assets/logos/docker.svg" alt="Docker" />
	</a>
	<a
		href="https://github.com/germanoa/compiladores/blob/master/doc/ebook/The%20C%20Programming%20Language%20-%202nd%20Edition%20-%20Ritchie%20Kernighan.pdf"
	>
		<img src="/assets/logos/cpp.svg" alt="C++" />
	</a>
	<a href="https://www.qt.io/">
		<img src="/assets/logos/qt.svg" alt="Qt" />
	</a>
</div>
<ul class="list">
	<li>Tremendously familiar with web dev</li>
	<li>Happily familiar with server hosting</li>
	<li>Familiar with C++, Qt</li>
</ul>
