<app-card-title>my favorite games</app-card-title>
<div
	style="
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		row-gap: 4px;
		width: 350px;
		max-width: 350px;
	"
>
	<a
		*ngFor="let game of games.slice(0, 6)"
		class="game-link"
		[href]="'https://store.steampowered.com/app/' + game.steamId"
		style="display: block"
	>
		<div
			class="game-image"
			style="
				border-radius: 4px;
				width: 112px;
				image-rendering: optimizeQuality;
				background-image: url(/assets/steam-spritesheet.jpg);
				background-position: 66% 0%;
			"
			[style.background-size]="sheetWidth + '00% ' + sheetHeight + '00%'"
			[style.background-position]="game.position"
		></div>
	</a>
</div>
<div
	style="
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		row-gap: 4px;
		width: 350px;
		max-width: 350px;
		margin-top: 4px;
	"
>
	<a
		*ngFor="let game of games.slice(6, 15)"
		class="game-link"
		[href]="'https://store.steampowered.com/app/' + game.steamId"
		style="display: block"
	>
		<div
			class="game-image"
			style="
				border-radius: 4px;
				width: 83px;
				image-rendering: optimizeQuality;
				background-image: url(/assets/steam-spritesheet.jpg);
				background-position: 66% 0%;
			"
			[style.background-size]="sheetWidth + '00% ' + sheetHeight + '00%'"
			[style.background-position]="game.position"
		></div>
	</a>
</div>
<div style="margin: 8px 0; border-top: solid 1px rgba(0, 0, 0, 0.075)"></div>
<div
	style="
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		row-gap: 4px;
		width: 350px;
		max-width: 350px;
	"
>
	<div
		*ngFor="let game of games.slice(15, 18)"
		class="game-image"
		style="
			border-radius: 4px;
			width: 83px;
			image-rendering: optimizeQuality;
			background-image: url(/assets/steam-spritesheet.jpg);
			background-position: 66% 0%;
		"
		[style.background-size]="sheetWidth + '00% ' + sheetHeight + '00%'"
		[style.background-position]="game.position"
	></div>
</div>
<app-card-footer>
	<hstack style="margin-top: 4px">
		<a
			*ngFor="let profile of profiles"
			[href]="profile[2]"
			style="
				font-weight: 600;
				margin-right: 24px;
				text-decoration: none;
				color: #000;
			"
		>
			<svg
				[socialIcon]="profile[0]"
				style="height: 16px; margin-right: 4px"
			></svg>
			{{ profile[1] }}
		</a>
	</hstack>
</app-card-footer>
