<app-card-title>favorite games</app-card-title>
<div
	style="
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		row-gap: 6px;
		width: 405px;
		max-width: 405px;
	"
>
	<a
		*ngFor="let game of games.slice(0, 6)"
		class="game"
		[href]="'https://store.steampowered.com/app/' + game.steamId"
		style="display: block"
	>
		<div
			style="
				border-radius: 4px;
				aspect-ratio: 92 / 43;
				width: 130px;
				image-rendering: optimizeQuality;
				background-image: url(/assets/steam-spritesheet.jpg);
				background-position: 66% 0%;
			"
			[style.background-size]="sheetWidth + '00% ' + sheetHeight + '00%'"
			[style.background-position]="game.position"
		></div>
	</a>
</div>
<div
	style="
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		row-gap: 4px;
		width: 405px;
		max-width: 405px;
		margin-top: 4px;
	"
>
	<a
		*ngFor="let game of games.slice(6, 14)"
		class="game"
		[href]="'https://store.steampowered.com/app/' + game.steamId"
		style="display: block"
	>
		<div
			style="
				border-radius: 4px;
				aspect-ratio: 92 / 43;
				width: 96px;
				image-rendering: optimizeQuality;
				background-image: url(/assets/steam-spritesheet.jpg);
				background-position: 66% 0%;
			"
			[style.background-size]="sheetWidth + '00% ' + sheetHeight + '00%'"
			[style.background-position]="game.position"
		></div>
	</a>
</div>
<div
	style="
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		row-gap: 4px;
		width: 405px;
		max-width: 405px;
		margin-top: 4px;
	"
>
	<div
		*ngFor="let game of games.slice(14, 17)"
		style="
			border-radius: 4px;
			aspect-ratio: 92 / 43;
			width: 130px;
			image-rendering: optimizeQuality;
			background-image: url(/assets/steam-spritesheet.jpg);
			background-position: 66% 0%;
		"
		[style.background-size]="sheetWidth + '00% ' + sheetHeight + '00%'"
		[style.background-position]="game.position"
	></div>
</div>
<div
	style="
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-top: 12px;
		margin-bottom: -4px;
	"
>
	<a
		*ngFor="let profile of profiles"
		[href]="profile[2]"
		style="
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			color: #000;
			font-weight: 600;
			opacity: 0.4;
			margin-right: 24px;
		"
	>
		<svg
			[socialIcon]="profile[0]"
			style="height: 16px; margin-right: 4px"
		></svg>
		{{ profile[1] }}
	</a>
</div>
