<app-spinner *ngIf="tweets.length == 0"></app-spinner>
<ng-container *ngIf="tweets.length != 0">
	<app-card-title [href]="config.socialLinks.twitter" socialIcon="twitter">
		my tweets
	</app-card-title>

	<a
		*ngFor="let tweet of tweets; let i = index"
		[href]="tweet.link"
		style="text-decoration: none; color: #000"
	>
		<hstack
			style="
				align-items: flex-start;
				justify-content: flex-start;
				font-size: 0.75em;
				line-height: 1.3em;
				width: 400px;
				max-width: 400px;
			"
		>
			<div
				[style.backgroundImage]="'url(' + tweet.userImageUrl + ')'"
				style="
					width: 48px;
					height: 48px;
					min-width: 48px;
					border-radius: 50%;
					background-position: center;
					background-size: cover;
					background-color: rgba(0, 0, 0, 0.1);
				"
			></div>
			<vstack
				style="
					align-items: flex-start;
					justify-content: flex-start;
					flex-grow: 1;
					padding: 0 8px;
				"
			>
				<div
					*ngIf="tweet.retweet || tweet.reply"
					style="font-weight: 600; opacity: 0.4"
				>
					<ng-container *ngIf="tweet.retweet">
						{{ username }} retweeted
					</ng-container>
					<ng-container *ngIf="tweet.reply">
						Reply to {{ tweet.reply }}
					</ng-container>
				</div>
				<p style="font-weight: 600">{{ tweet.username }}</p>
				<div
					style="
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;
						white-space: normal;
						text-overflow: ellipsis;
					"
				>
					{{ tweet.title }}
				</div>
			</vstack>
			<div
				*ngIf="tweet.imageUrl"
				[style.backgroundImage]="'url(' + tweet.imageUrl + ')'"
				style="
					width: 80px;
					height: 60px;
					min-width: 80px;
					border-radius: 8px;
					background-position: center;
					background-size: cover;
					background-color: rgba(0, 0, 0, 0.1);
				"
			></div>
		</hstack>

		<div
			*ngIf="i != tweets.length - 1"
			style="margin: 8px 0; border-top: solid 1px rgba(0, 0, 0, 0.1)"
		></div>
	</a>

	<app-card-footer [href]="nitterUrl">Powered by Nitter</app-card-footer>
</ng-container>
