@import "../../../styles/scale-on-hover.scss";
@import "../../../styles/material-colors.scss";

$owned: material-color("light-green", "500");
$ordered: material-color("amber", "500");
$wished: material-color("deep-orange", "300");

.legend {
	font-size: 0.8em;
	font-weight: 500;

	.circle {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin-right: 6px;
		margin-bottom: -2px; // text is lower case

		&.owned {
			background-color: $owned;
		}
		&.ordered {
			background-color: $ordered;
		}
		&.wished {
			background-color: $wished;
		}
	}

	.owned {
		color: $owned;
	}
	.ordered {
		color: $ordered;
	}
	.wished {
		color: $wished;
	}
}

.figure {
	aspect-ratio: 1 / 1;
	@include scaleOnHover(1.05);

	&.owned {
		border: 2px solid white;
		box-shadow: 0 0 0 2px $owned;
	}

	&.ordered {
		border: 2px solid white;
		box-shadow: 0 0 0 2px $ordered;
	}

	&.wished {
		border: 2px solid white;
		box-shadow: 0 0 0 2px $wished;
	}
}
