<app-spinner
	*ngIf="!finalRender"
	style="display: flex; justify-content: center"
></app-spinner>
<div *ngIf="finalRender" class="dot-map">
	<!-- <div class="rows">
		<div *ngFor="let row of dots" class="row">
			<div *ngFor="let dot of row" class="dot" [class.on]="dot"></div>
		</div>
	</div> -->
	<!-- <canvas #canvas style="image-rendering: pixelated;"></canvas> -->
	<img
		[src]="finalRender"
		style="border-radius: 0; image-rendering: pixelated"
	/>
	<div
		class="pin pin-{{ i }}"
		*ngFor="let pin of pins; let i = index"
		[style.left]="pin[0] + '%'"
		[style.top]="pin[1] + '%'"
		[style.animation-delay]="i * 250 + 'ms'"
	></div>
</div>
