<app-card-title [href]="config.socialLinks.skeb" socialIcon="skeb">
	my skebs
</app-card-title>
<div style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 4px">
	<a
		class="skeb"
		*ngFor="let skeb of skebs; let i = index"
		[href]="skebUrls[i]"
		style="display: block"
	>
		<div
			style="
				width: 80px;
				height: 96px;
				border-radius: 4px;
				image-rendering: optimizeQuality;
				background-image: url(/assets/skeb-spritesheet.jpg);
			"
			[style.background-size]="sheetWidth + '00% ' + sheetHeight + '00%'"
			[style.background-position]="skeb"
		></div>
	</a>
</div>
