.animate-album-image {
	$deg: 2deg;

	@keyframes tilting-album-image {
		0% {
			transform: rotate(-$deg);
		}
		50% {
			transform: rotate($deg);
		}
		100% {
			transform: rotate(-$deg);
		}
	}

	animation-name: tilting-album-image;
	animation-duration: 2 * 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
