<vstack>
	<h2 class="description">
		<app-emoji emoji="🌺"></app-emoji>
		<app-emoji emoji="🦊"></app-emoji>
		<app-emoji emoji="🦋"></app-emoji>
		<span style="opacity: 0.4; margin-left: 8px; margin-right: 4px">
			flower fox fairy
		</span>
		<span style="font-size: 0.7em; opacity: 0.3; margin-right: 8px">
			she/her
		</span>
		<app-emoji emoji="lesbian-flag"></app-emoji>
		<app-emoji emoji="🏳️‍⚧️"></app-emoji>
	</h2>
	<div class="social">
		<a *ngFor="let social of social" [href]="social.url">
			<svg [socialIcon]="social.name"></svg>
		</a>
	</div>
	<a
		href="https://github.com/makitsune/maki.cafe"
		style="text-decoration: none; color: #000"
	>
		<hstack class="view-code">
			<svg socialIcon="github"></svg>
			View the site's code
		</hstack>
	</a>
</vstack>
