@import "../../../styles/scale-on-hover.scss";
@import "../../../styles/cards.scss";

.description {
	margin-bottom: 32px;
	font-weight: 500;
	width: 400px;
	text-align: center;
}

.social {
	> a > svg {
		opacity: 0.3;
		@include scaleOnHover(1.1);
		margin: 0 4px;
		height: 24px;
	}
}

.view-code {
	opacity: 0.2;
	font-weight: 600;
	margin-top: 16px;
	width: 220px;

	@include scaleOnHover(1.05);

	svg {
		height: 16px;
		margin-right: 8px;
	}
}

@include cards-max-1 {
	.view-code {
		font-size: 0.8em;
		margin-top: 8px;
		svg {
			height: 12px;
			margin-right: 4px;
		}
	}

	.description {
		margin-bottom: 48px;
	}
}
