.fade-in {
	@keyframes home-fade-in {
		0% {
			opacity: 0;
			transform: translateY(-8px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	> div {
		animation-name: home-fade-in;
		animation-duration: 500ms;
		animation-timing-function: ease-out;
		transform-origin: 0 0;
	}
}
