<hstack>
	<app-spinner *ngIf="!data"></app-spinner>
</hstack>
<div *ngIf="data">
	<hstack>
		<a
			[href]="config.socialLinks.discord"
			style="text-decoration: none; color: #000"
		>
			<hstack>
				<app-user-image
					[url]="
						'https://cdn.discordapp.com/avatars/' +
						discordId +
						'/' +
						data.discord_user.avatar +
						'.webp?size=128'
					"
					[mobile]="data.active_on_discord_mobile"
					[status]="data.discord_status"
					[size]="48"
				></app-user-image>
				<h2 style="margin-left: 12px; opacity: 0.8; line-height: 0.8em">
					{{ data.discord_user.username }}
					<br />
					<span
						style="font-size: 0.7em; opacity: 0.6; font-weight: 600"
					>
						#{{ data.discord_user.discriminator }}
					</span>
				</h2>
			</hstack>
		</a>
		<h1 style="opacity: 0.4; font-weight: 200; flex: 1; text-align: center">
			{{ data.discord_status }}
		</h1>
	</hstack>
	<ng-template #spotify>
		<vstack>
			<hstack>
				<img
					*ngIf="canShowAlbumCover"
					class="song"
					[src]="song.album_art_url"
					[alt]="song.album"
					style="width: 64px; height: 64px; border-radius: 6px"
				/>
				<hstack
					*ngIf="!canShowAlbumCover"
					style="
						width: 64px;
						height: 64px;
						border-radius: 6px;
						background: rgba(255, 255, 255, 0.5);
						font-size: 32px;
						color: rgba(255, 255, 255, 0.5);
					"
				>
					#!
				</hstack>
				<h4
					style="
						margin: 0 8px;
						white-space: nowrap;
						overflow: hidden;
						margin-top: -4px;
						width: 225px;
						max-width: 225px;
					"
				>
					<span
						style="
							font-weight: 600;
							font-size: 0.8em;
							opacity: 0.6;
							display: inline-flex;
							flex-direction: row;
							align-items: center;
						"
					>
						<svg
							*ngIf="song != null"
							[socialIcon]="
								song.player == 'Spotify'
									? 'spotify-light'
									: song.player == 'DeaDBeeF'
									? 'deadbeef-icon-light'
									: ''
							"
							style="
								width: 12px;
								height: 12px;
								margin-right: 4px;
								margin-top: 2px;
							"
						></svg>
						<app-material-icon
							*ngIf="song == null"
							style="
								width: 12px;
								height: 12px;
								font-size: 12px;
								margin-right: 4px;
								margin-top: 2px;
							"
						>
							help
						</app-material-icon>
						{{ song != null ? song.player : "No player" }}
					</span>
					<br />
					<ng-container *ngIf="song">
						<app-dancing-letters
							[text]="song.song"
						></app-dancing-letters>
						<br />
						<span style="font-weight: 400">
							by {{ song.artist }}
						</span>
					</ng-container>
					<ng-container *ngIf="!song">
						Not listening
						<br />
						<span style="font-weight: 400">to anything</span>
					</ng-container>
				</h4>
			</hstack>
			<hstack
				*ngIf="songTime"
				style="
					font-size: 0.8em;
					width: calc(100% - 4px);
					margin-top: 6px;
					margin-bottom: -2px;
				"
			>
				<p style="width: 56px">
					{{ msToTime(songTime.current | async) }}
				</p>
				<div
					*ngIf="song"
					style="
						width: 100%;
						height: 6px;
						background-color: rgba(255, 255, 255, 0.4);
						border-radius: 3px;
						flex-grow: 1;
					"
				>
					<div
						[style.width]="
							((songTime.current | async) / songTime.length) *
								100 +
							'%'
						"
						style="
							height: 6px;

							background-color: #fff;
							border-radius: 3px;
						"
					></div>
				</div>
				<p style="width: 56px; text-align: right">
					{{ msToTime(songTime.length) }}
				</p>
			</hstack>
			<p
				style="font-size: 0.55em; margin-top: 6px"
				*ngIf="song != null && song.player == 'DeaDBeeF'"
			>
				album art might be inaccurate because of a bad musicbrainz
				search
			</p>
		</vstack>
	</ng-template>
	<a
		*ngIf="song"
		class="spotify"
		[href]="song.track_url"
		[style.background]="
			song.player == 'Spotify'
				? '#1db954'
				: song.player == 'DeaDBeeF'
				? '#80c040'
				: 'rgba(0,0,0,0.5)'
		"
	>
		<ng-template [ngTemplateOutlet]="spotify"></ng-template>
	</a>
	<div *ngIf="!song" class="spotify" [style.background]="'rgba(0,0,0,0.5)'">
		<ng-template [ngTemplateOutlet]="spotify"></ng-template>
	</div>
	<app-card-footer style="font-size: 0.55em">
		i made my account 66 days after launch and nobody gets a badge for it
	</app-card-footer>
</div>
<app-card-footer marginTop="16px" href="https://github.com/Phineas/lanyard">
	Powered by Lanyard
</app-card-footer>
