<app-card-title
	socialIcon="github-octicon-squirrel"
	href="https://squirrels.cutelab.space"
	marginTop="-16px"
	marginBottom="8px"
>
	our squirrel camera
</app-card-title>
<!-- <div class="iframe-wrapper" [class.bigger]="bigger">
	<iframe
		#iframe
		frameborder="0"
		src="https://squirrels.cutelab.space"
	></iframe>
	<app-material-icon
		*ngIf="bigger"
		class="close-button"
		(click)="toggleBigger()"
	>
		fullscreen_exit
	</app-material-icon>
</div>
<p
	(click)="toggleBigger()"
	style="
		font-weight: 500;
		opacity: 0.5;
		margin-top: 4px;
		margin-bottom: -16px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		user-select: none;
	"
>
	<app-material-icon style="margin-right: 4px">fullscreen</app-material-icon>
	Click here to make bigger
</p> -->
<a
	href="https://squirrels.cutelab.space"
	class="get-user-input"
	style="display: flex"
>
	<img
		src="https://squirrels.cutelab.space/logo-nostroke.png"
		alt="Squirrel"
		class="logo"
	/>
	<h1 class="title">squirrel camera</h1>
	<div class="play-button">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			style="width: 64px"
			viewBox="0 0 24 24"
			fill="#1d1f21"
		>
			<path d="M0 0h24v24H0z" fill="none"></path>
			<path d="M8 5v14l11-7z"></path>
		</svg>
	</div>
	<p class="continue">Click to continue</p>
</a>
