@import "../../styles/cards.scss";

@mixin only($current, $total) {
	@for $i from 1 through $total {
		.only-#{$i} {
			@if $i == $current {
				display: initial;
			} @else {
				display: none;
			}
		}
	}
}

.home {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;

	&.fade-in {
		@keyframes home-fade-in {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}

		> div {
			animation-name: home-fade-in;
			animation-duration: 0.5s;
			animation-timing-function: linear;
			transform-origin: 0 0;
		}
	}

	.logo {
		width: 400px;
		max-width: 400px;
		margin-top: 64px;
	}

	.social {
		// margin-bottom: 64px;
		margin-bottom: 24px;
		margin-top: 24px;
	}

	@keyframes home-art-falling-down {
		0% {
			opacity: 0;
			transform: translateY(-50px);
		}
		100% {
			opacity: 1;
			transform: translateY(0px);
		}
	}

	.art-0 {
		position: absolute;
		width: 210px;
		top: -340px;
		left: 40px;
	}

	.art-1 {
		position: absolute;
		width: 330px;
		top: -375px;
		right: 50px;
	}

	&.fade-in {
		.art-0,
		.art-1 {
			animation-name: home-art-falling-down;
			animation-duration: 1s;
			animation-timing-function: ease-out;
			animation-fill-mode: both;
		}
		.art-1 {
			animation-delay: 250ms;
		}
	}

	.cards {
		grid-template-columns: repeat(4, $cardWidth);
	}

	@include only(4, 4);

	@include cards-max-3 {
		.cards {
			grid-template-columns: repeat(3, $cardWidth);
		}
		@include only(3, 4);
	}

	@include cards-max-2 {
		.cards {
			grid-template-columns: repeat(2, $cardWidth);
		}
		@include only(2, 4);

		.art-0 {
			width: 180px;
			top: -300px;
		}
		.art-1 {
			width: 290px;
			top: -330px;
			right: -60px;
		}
	}

	@include cards-max-1 {
		.logo {
			width: 350px;
			margin-top: 32px;
		}
		.cards {
			grid-template-columns: repeat(1, $cardWidth);
		}
		@include only(1, 4);

		.art-0 {
			width: 110px;
			top: -200px;
			left: 20px;
		}
		.art-1 {
			width: 170px;
			top: -193px;
			right: -30px;
		}
		.social {
			width: 140px;
			text-align: center;
			line-height: 2em;
			margin-top: 16px;
		}
	}

	.cards {
		display: grid;

		> div {
			width: $cardWidth;
			max-width: $cardWidth;
			display: flex;
			align-items: center;
			justify-content: center;
			// background-color: red;

			> app-card {
				display: inline-block;
			}
		}

		&.with-margin {
			> div {
				margin-bottom: 64px;
			}
		}

		// app-card {
		// 	margin: 32px;
		// }
	}
}
